.sendForm {
display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.textarea {
    width: 946px!important;
    /*height: 40px!important;*/
    resize: none;
    outline: none;
    border: none;

    background: #F5F7FB;
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 20px;
    padding-top: 12px;
    padding-bottom: 11px;
    padding-left: 22px;


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgb(0, 0, 0);
}

.button {

    background-color: #0066CC;
    border-radius: 20px;
    padding: 10px 38px;
    outline: none;
    border: none;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.button:hover {
    background-color: #0066CC;
    opacity: 0.5;
    color: #002E5C;
}
.button:active {
    background: #CC1439;
}
